<div class="container">
  <div class="page-header">
    <%= link_to 'Create User', new_user_path, class: 'btn btn-info pull-right' %>
    <h1>Users</h1>
  </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>About</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.user_name, user_path(user) %></td>
            <td><%= user.about %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user_path(user), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
